<p>The animal, <%= @animal.name() %>, has been added.<p/>
<p>We look forward to finding this <%= @animal.type %> their forever home!</p>

<img id="animal_image" src="/images/<%= @animal.image %>" height="442">