
<h3>Adoptions</h3>

<p><a href="/adoptions/new">Add an Adoption</a></p>

<ul>
  <% for adoption in @adoptions %>
  <li>
  <p><%= adoption.owner.name %> adopted <%= adoption.animal.name %> </p> <a href="/adoptions/<%= adoption.id %>/edit">Edit</a> <form action="/adoptions/<%= adoption.id %>/delete" method="post">
<input type="submit" value="Delete Adoption"/>
</form>
  </li>
  <% end %>
</ul>