
<h3>Adoptions</h3>

<p><a href="/adoptions/new">Add an Adoption</a></p>

</br>
</br>

  <% for adoption in @adoptions %>
  <div class="adoption-item"> 
  <hr>
  <p><%= adoption.owner.name %> adopted <%= adoption.animal.name %> </p> 
  <p> <a href="/adoptions/<%= adoption.id %>/edit">Edit Adoption</a> </p> 
  <form action="/adoptions/<%= adoption.id %>/delete" method="post">
<input type="submit" value="Delete Adoption"/> </form>
</div>
</br>
</br>
 

  <% end %>