<!DOCTYPE html>
<html>
  <head>
    <title>Doggo Land</title>
 
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
   <link rel="stylesheet" type="text/css" href="/styles/tables.css"> 
   <link rel="stylesheet" type="text/css" href="/styles/forms.css">

  </head>

  <body>
  
    <div class="background-wrap">
      <video id="video-bg-elem" preload="auto" autoplay="true" loop="loop" muted="muted"> 
        <source src="/puppy1.mp4" type="video/mp4">
        BOY. ya browser CANT HANDLE ALL THIS PUPPER xd - Rory 2016, probably
      </video>          
    </div>
        
        <div class="powerlinks">
          <img id="animal_image" src="/images/logo.jpg" height="40">&nbsp;&nbsp;<p>|</p>&nbsp;&nbsp;<a href="/">Home</a>&nbsp;&nbsp;<p>|</p>&nbsp;&nbsp;<a href="/animals">Animals</a>&nbsp;&nbsp;<p>|</p>&nbsp;&nbsp;<a href="/owners">Owners</a>&nbsp;&nbsp;<p>|</p>&nbsp;&nbsp;<a href="/adoptions">Adoptions</a>&nbsp;&nbsp;<p>|</p>
        </div>
      
    <div class="content">
   
     <%= yield %>
    </div>

  </body>

</html>
