<!DOCTYPE html>
<html>
  <head>
    <title>Doggo Land</title>
 
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">

  </head>

  <body>
  
    <div class="background-wrap">
      <video id="video-bg-elem" preload="auto" autoplay="true" loop="loop" muted="muted"> 
        <source src="/puppy.mp4" type="video/mp4">
        BOY. ya browser CANT HANDLE ALL THIS PUPPER THO xd - Rory 2016, probably
      </video>          
    </div>


         <a href="/">Home</a>&nbsp;<a href="/animals">Animals</a>&nbsp;<a href="/owners">Owners</a>&nbsp;<a href="/adoptions">Adoptions</a>
   
    <div class="content">
   
     <%= yield %>
    </div>

    </body>

</html>
