      * {
        margin: 0;
        padding: 0;
      }
      body {
        font-family: Calibri, sans-serif;
        color: tan;
      }
      .background-wrap {
        position: fixed;
        z-index: -1000;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
      } 

      a {
        font-size: 20px;
        letter-spacing: 1px;
        color: #fff;
      }

      a:link {
          text-decoration: none;
      }

      a:visited {
          text-decoration: none;
      }

     a:hover {
         color: hotpink;
     }

      a:active {
          text-decoration: underline;
      }

      #video-bg-elem {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        min-width: 100%;
      }
      .content {
        position: absolute;
        width: 100%;
        min-height: 100%;
        z-index: 1000;
        background-color: rgba(0,0,0,0.5)
      }
      .content h1 {
        text-align: center;
        font-size: 55px;
        text-transform: uppercase;
        font-weight: 300;
        color: #fff;
        padding-top: 15%;
        margin-bottom: 10px;
      }
      .content p {
        text-align: center;
        font-size: 20px;
        letter-spacing: 1px;
        color: #aaa;
      }
      .content h2 {
        vertical-align: top;
        text-align: center;
        font-size: 20px;
        letter-spacing: 1px;
        color: #fff;
      }
      .content h3 {
          text-align: center;
          z-index: 200;
          font-size: 55px;
          letter-spacing: 1px;
          color: #fff;
      }
     
      
    </style>