<h3>Owners</h3>
<p><a href="/owners/new">Add an Owner</a></p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Contact Number</th>
    <th></th>
    <th>Ideal Type</th>
  </tr>
  <% for owner in @owners %>
  <tr>
    <td><a href="/owners/<%= owner.id %>"><%= owner.name %> </a></td>
    <td>|</td>
    <td><%= owner.contact_number %></td>
    <td>|</td>
    <td><%= owner.ideal_type %></td>


  </tr>
  <% end %>
</table>